.single-stripe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 57px);
    width: calc(100% / 5);
    position: relative;

    .fas {
        visibility: hidden;
        position: relative;
        color: rgb(255, 255, 255);
        opacity: 0.5;
        font-size: xx-large;
        margin: 2rem 0;
        cursor: pointer;
    }

    .fas:hover {
        opacity: 1;
    }

    .fa-arrows-alt-h {
        cursor: grab;
    }

    input.edit-color {
        width: 100%;
        border: none;
        background-color: transparent;
        font-size: xx-large;
        font-weight: 700;
        color: rgb(255, 255, 255);
        opacity: 0.74;
        padding: 1px;
        text-align: center;
        text-transform: uppercase;
    }

    input.edit-color:hover {
        opacity: 1;
    }

    input.edit-color:focus {
        outline: 0;
    }
}

.single-stripe:hover {
    .fas {
        visibility: visible;
    }
}