#header {
    padding: 12px;
    border-bottom: 1px solid #e8edf2;

    .wrap {
        display: flex;
        justify-content: space-between;
        align-content: center;

        .logo {
            font-size: x-large;
            font-weight: 700;

            a {
                text-decoration: none;
                color: rgba(124, 150, 183, 1);
            }
        }

        #menu {
            display: flex;
            align-content: center;

            ul {
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0;

                li {
                    list-style: none;
                    margin: 0 12px;
                    height: 100%;
                    line-height: 2rem;

                    .divider {
                        border-right: 1px solid #e8edf2;
                        display: block;
                        height: 100%;
                    }

                    a {
                        text-decoration: none;
                        color: rgba(124, 150, 183, 1);
                    }
                }
            }
        }
    }
}