.alternate-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;

    .shades {
        width: 100%;
        height: 4.7619%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            opacity: 0;
            text-transform: uppercase;
            text-align: center;
        }
    }

    .shades:hover>div {
        font-size: 1.2rem;
        opacity: 0.3;
    }
}